.pokemon-images {
    display: flex;
    margin-bottom: 70px;
}

.drifloon-img {
    height: 330px;
}

.banette-img  {
    height: 330px;
}

.chandelure-img  {
    height: 330px;
}

.darkrai-img {
    height: 330px;
}

.dusknoir-img {
    height: 330px;
}